html
  head
    title Example Page
    link(rel='stylesheet', href='/static/css/styles.css')
  body
    h1 API Data
    ul
      each item in data
        li
          span.label Name:
          span.value= item.name
        li
          span.label Phone:
          span.value= item.phone
        li
          span.label Email:
          span.value= item.email
        li
          span.label Coupon Name:
          span.value= item.couponName
        li
          span.label Details:
          span.value= item.details
        li
          span.label Expiry:
          span.value= item.expiry
